@import url("https://fonts.googleapis.com/css?family=Oswald");

body {
    font-family: Oswald; 
    font-variant: small-caps; 
    color: #727272;
    margin: auto;
}

h1 { 
    font-size: 55px; 
    font-weight: 400; 
    margin: auto;
    display: inline-block;
} 

h3 { 
    font-size: 35px; 
    font-weight: 100; 
    margin: auto;
} 

p { 
    font-size: 14px; 
    font-weight: 400; 
    margin: auto;
}

img {
    display: block;
    margin: auto;
}

div {
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
}

form {
    margin-bottom: 10px;
}

.sheet {
    display: grid;
    grid: 'logo name name' 
          'logo pronouns pronouns' 
          'stat stat stat'
          'description description description' 
          'background background background'
          'skills skills skills'
          'inventory inventory inventory'
          'bonds bonds bonds'
          'relationships relationships relationships';
    margin: auto;
    border: 5px solid red;
    width: 750px;
    height: 100%;
}

.logo {
    grid-area: logo;
    height: 120px;
    margin:10px auto 0px auto;
}

.name {
    grid-area: name;
    height: 40px;
    width:450px;
    text-align: left;
    padding-left: 5px;
    line-height: 75px; 
}

.pronouns {
    grid-area: pronouns;
    height: 40px;
    text-align: left;
    margin-top: 5px;
    padding-left: 60px;
    line-height: 30px; 
    font-style: italic; 
}

.stat {
    grid-area: stat;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 85px;
    line-height: 50px; 
    border-top: 3px solid;
    border-bottom: 3px solid;
}

.stat input {
    color: #727272;
    font-size: 35px; 
    font-weight: 100;
    width: 50px;
    height: 35px;
    border-radius: 17px;
    border:3px solid #727272;

}

.body {
    order: 1;
    height: 65px;
    width: 160px;
    display: inline-block;
    border: 3px solid;
    border-radius: 20px;
}

.heart {
    order: 2;
    height: 65px;
    width: 180px;
    display: inline-block;
    border: 3px solid;
    border-radius: 20px;

}

.mind {
    order: 3;
    height: 65px;
    width: 160px;
    display: inline-block;
    border: 3px solid;
    border-radius: 20px;

}

.description {
    grid-area: description;
    width: 740px;
    border-bottom: 3px solid;
    text-align: left;
    padding-left: 10px;
}

.background {
    grid-area: background;
    width: 740px;
    border-bottom: 3px solid;
    text-align: left;
    padding-left: 10px;
}

.skills {
    grid-area: skills;
    border-bottom: 3px solid;
    height: 150px;
}

.inventory {
    grid-area: inventory;
    border-bottom: 3px solid;
    height: 150px;
}

.bonds {
    grid-area: bonds;
    border-bottom: 3px solid;
    height: 150px;
}

.relationships {
    grid-area: relationships;
    height: 150px;
}



